In [2]:
#list
a=[1,34,33,'asfs', False, [],[1,2,3]]
a[0]='Hello'
a

['Hello', 34, 33, 'asfs', False, [], [1, 2, 3]]

In [8]:
a.append('End of list')

In [9]:
del a[2]

In [10]:
a

['Hello',
 34,
 'asfs',
 False,
 [],
 [1, 2, 3],
 'End of list',
 'End of list',
 'End of list',
 'End of list',
 'End of list',
 'End of list']

In [11]:
a[1:3] + a[6:]

[34,
 'asfs',
 'End of list',
 'End of list',
 'End of list',
 'End of list',
 'End of list',
 'End of list']

In [12]:
a[-2:]

['End of list', 'End of list']

In [13]:
a.insert(2,'Middle')

In [14]:
a

['Hello',
 34,
 'Middle',
 'asfs',
 False,
 [],
 [1, 2, 3],
 'End of list',
 'End of list',
 'End of list',
 'End of list',
 'End of list',
 'End of list']

In [32]:
#Расчитать сумму всех чисел в листе
a=[10000,50000,20000,1000,5000]
total_profit=0
for i in a:
    #total_profit=total_profit+i
    total_profit += i 
    print(total_profit)
    
max_profit=a[0]
month_number=1 #номер месяца 1, чтобы январь не был нулевым месяцем 
max_month=1 #для примера берем январь, чтобы цикл крутился до того месяца пока цикл максимальной выручки не остановится
for i in a[1:]:
    month_number += 1
    if i>max_profit:
        max_profit=i
        max_month=month_number
print(f'max profit=',max_profit)
print(f'max_month=',max_month)

10000
60000
80000
81000
86000
max profit= 50000
max_month= 2

In [33]:
a=[10000,50000,20000,1000,5000]
    
max_profit=a[0]

max_month=1 
for month_number in range(5):
    if a[month_number]>max_profit:
        max_profit=a[month_number]
        max_month=month_number
print(max_month+1,max_profit)

2 50000

In [36]:
a=[10000,50000,20000,1000,5000]
    
max_profit=a[0]
max_month=1 
for month_number, profit in enumerate(a[1:],start=2):
    if profit>max_profit:
        max_profit=profit
        max_month=month_number
print(max_month,max_profit)

2 50000

In [34]:
b=[1,2,3]
for i, j in enumerate(b):
    print(i,j)

0 1
1 2
2 4

In [37]:
#Словарь
a={
    "name" : "John",
    "salary": 500000,
    "achievements": [
        {
            "year": 2005,
            "type": "За Службу Родине"
        },
        {
            "year": 2006,
            "type": "Лучший Баскетболист"
        }
    ]
}

In [39]:
d["name"]= "John Doe"

NameError: name 'd' is not defined

In [40]:
d["tax"]= 5

NameError: name 'd' is not defined

In [59]:
employees = [
    {
    "name" : "Arman",
    "salary": 500000,
    "city": "Almaty"
    },
    {
    "name" : "Anuar",
    "salary": 550000,
    "city":"Astana"
    },
    {
    "name" : "Anuar 2",
    "salary": 200000,
    "city":"Astana"
    },
    {
    "name" : "Aslan",
    "salary": 500000,
    "city": "Shymkent"
    },
    {
    "name" : "Aslan",
    "salary": 200000,
    "city": "Shymkent"
    }
]

In [60]:
max_profit = employees[0]

In [61]:
employees[0]

{'name': 'Arman', 'salary': 500000, 'city': 'Almaty'}

In [62]:
employees[0]["salary"]

500000

In [63]:
max_profit=employees[0]["salary"]
max_city=employees[0]["city"]
for empl in employees[1:]:
    if empl["salary"]>max_profit:
        max_profit=empl["salary"]
        max_city=empl["city"]
print(max_profit,max_city)

550000 Astana

In [64]:
average_salaries={
    "Almaty":[],
    "Astana":[],
    "Shymkent":[]
}

In [65]:
for empl in employees:
    average_salaries[empl["city"]].append(empl["salary"])

In [66]:
average_salaries

{'Almaty': [500000], 'Astana': [550000, 200000], 'Shymkent': [500000, 200000]}

In [67]:
for city in ["Almaty","Astana", "Shymkent"]:
    l = average_salaries[city]
    print(l)

[500000]
[550000, 200000]
[500000, 200000]

In [68]:
sum([1,2,3,4,5,6,7])

28

In [69]:
for city in ["Almaty","Astana", "Shymkent"]:
    s = average_salaries[city]
    print("Average salary in", city, sum(s)/len(s),"тенге")

Average salary in Almaty 500000.0 тенге
Average salary in Astana 375000.0 тенге
Average salary in Shymkent 350000.0 тенге